div.stock {
  background-color: rgba(255,255,255,.9);
  border-radius: .3rem;
  padding: .4rem;
  margin: 1rem 1rem 0 0;
  min-width: 17rem;
  position: relative;
  z-index: 9;
}
div.symbol {
  position: absolute; z-index: 5; left: .5rem; top: 2rem; font-size: 5rem; font-weight: 600; color: rgba(9,9,239,.19);
  letter-spacing: .6rem;
}
table.orders {
  width: 100%;
  font-family: monospace;
}
table.orders tr.done { opacity: .5 }
table.orders tr.buy { color: #f55 }
table.orders tr.sell { color: #36f }
table.orders tr.notfilled { font-style: italic; font-family: 'Roboto Condensed',sans-serif; opacity: .82 }
span.b { cursor: pointer; font-size: xx-large; line-height: 1 }
span.c { font-weight: 600 }

table.stats {
  width: 100%;
  border-collapse: collapse;
}
table.stats td { padding: .2rem; border: 1px solid #ddd }
