<div [ngStyle]="{'background-color': backgroundColor()}" style="position: relative; padding: .25em .75em">
  <div style="position: relative">
    <div style="width: 100%; display: table" class="small mono" *ngIf="showStats">
      <div style="display: table-row">
        <div style="display: table-cell"><span class="opaque">HL<sub>49</sub>:</span>{{ HL49 == null ? '' : HL49.toFixed(2) }}&nbsp;</div>
        <div style="display: table-cell"><span class="opaque">HL<sub>31</sub>:</span>{{ HL31 == null ? '' : HL31.toFixed(2) }}&nbsp;</div>
        <div style="display: table-cell"><span class="opaque">HL<sub>10</sub>:</span>{{ HL10 == null ? '' : HL10.toFixed(2) }}&nbsp;</div>
        <div style="display: table-cell"><span class="opaque">CL<sub>49</sub>:</span>{{ CL49 == null ? '' : CL49.toFixed(2) }}</div>
      </div>
      <div style="display: table-row">
        <div style="display: table-cell"><span class="opaque">HO<sub>49</sub>:</span>{{ HO49 == null ? '' : HO49.toFixed(2) }}&nbsp;</div>
        <div style="display: table-cell"><span class="opaque">HO<sub>10</sub>:</span>{{ HO10 == null ? '' : HO10.toFixed(2) }}&nbsp;</div>
        <div style="display: table-cell"><span class="opaque">OL<sub>49</sub>:</span>{{ OL49 == null ? '' : OL49.toFixed(2) }}&nbsp;</div>
        <div style="display: table-cell"><span class="opaque">OL<sub>10</sub>:</span>{{ OL10 == null ? '' : OL10.toFixed(2) }}</div>
      </div>
    </div>
    <div style="width: 100%; display: table">
      <div style="display: table-row">
        <div class="small" style="display: table-cell">Today</div>
        <div class="x-small mono" style="display: table-cell"><span class="opaque">HCurrent:</span>{{currentStats.hCurrent}}</div>
        <div style="display: table-cell">&#x2592;</div>
        <div style="display: table-cell">
          <div style="float: left" [ngClass]="symbolClass()" (click)="turnOnDebugging()" [title]="name">{{ symbol }}</div>
          <div style="float: right" [ngStyle]="{'visibility': po.quantity >= 0 ? 'visible' : 'hidden'}">{{ po.quantity }}</div>
          <div style="clear: both"></div>
        </div>
      </div>
      <div style="display: table-row">
        <div class="small mono" style="display: table-cell"><span [hidden]="fu.high < 0">{{ fu.high.toFixed(2) }}</span></div>
        <div class="x-small mono" style="display: table-cell"><span class="opaque">CurrentL:</span>{{currentStats.currentL}}</div>
        <div class="small mono" style="color: #13f; display: table-cell">{{ showThreshold(thresholdSell) }}</div>
        <div style="display: table-cell"></div>
      </div>
      <div style="display: table-row">
        <div class="small mono" style="display: table-cell"><span [hidden]="fu.low < 0">{{ fu.low.toFixed(2) }}</span></div>
        <div class="x-small mono" style="display: table-cell"><span class="opaque">{{currentStats.coooc === 'co' ? 'CurrentO' : 'OCurrent'}}:</span>{{currentStats.cooocValue}}</div>
        <div class="small mono" style="color: #f00; display: table-cell">{{ showThreshold(thresholdBuy) }}</div>
        <div style="text-align: right; display: table-cell" [ngStyle]="{'visibility': last_trade_price > 0 ? 'visible' : 'hidden'}">
          {{ last_trade_price.toFixed(2) }}
        </div>
      </div>
    </div>
  </div>
  <div style="display: table; width: 100%; margin-left: -.4em; margin-right: -.4em">
    <div style="display: table-row" class="form-group">
      <div style="display: table-cell; padding-right: .4em">
        <input name="quantity" [(ngModel)]="buysell.quantity" placeholder="quantity" type="number" step="1"
               class="form-control"  style="width: 6em"/>
      </div>
      <div style="display: table-cell; padding-right: .4em">
        <input name="price" [(ngModel)]="buysell.price" placeholder="price" type="number" step=".01"
               class="form-control" style="width: 4.75em"/>
      </div>
      <div style="display: table-cell">
        <button (click)="buySell()" class="btn" [ngClass]="calculateBuSeButtonClass()" type="button"
                [disabled]="buysell.quantity == null || buysell.price == null || buysell.quantity <= 0 || buysell.price <= 0">Bu / Se</button>
      </div>
    </div>
  </div>
  <div>
    <span *ngIf="orders != null && orders.length != 0" title="Export order list to console" (click)="exportOrders()"
          class="button">&#x23F1;</span>&nbsp;&nbsp;
    <span *ngIf="orders != null && orders.length != 0 && !hideMatches" (click)="hideMatches = !hideMatches" class="button">&#x21D2;</span>
    <span *ngIf="orders != null && orders.length != 0 && hideMatches"  (click)="hideMatches = !hideMatches" class="button">&#x21D0;</span>
  </div>
  <table style="font: .9em monospace; width: 100%">
    <tr *ngFor="let order of orders; trackBy: trackByFunction" [ngClass]="calculateOrderCssClass(order)">
      <td>{{ minifyTimestamp(order.created_at) }}</td>
      <td class="none">id: {{ order.id }}</td>
      <td class="none">quantity: {{ order.quantity }}</td>
      <td class="none">state: {{ order.state }}</td>
      <td class="none">side: {{ order.side }}</td>
      <td class="none">matchId: {{ order.matchId }}</td>
      <td style="text-align: right;">{{ calculateQuantityToPrint(order) }}</td>
      <td class="x-small">&#8903;</td>
      <td>{{ order.average_price ? order.average_price.toFixed(2) : order.price.toFixed(2) }}</td>
      <td *ngIf="order.state != 'filled' || order.state.indexOf('partial') >= 0" (click)="cancelOrder(order.id)" class="pointer">&#10008;</td>
      <td *ngIf="order.mId !== undefined">({{ order.mId }})</td>
    </tr>
  </table>
</div>
