<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CA1" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <Console name="CA2" target="SYSTEM_OUT">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} %-5level %logger{36} [%t] - %msg%n%throwable"/>
        </Console>
        <File name="Everything" fileName="/dev/shm/robinhood.log">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </File>
        <Routing name="Robinhood">
            <Routes pattern="${ctx:symbol}">
                <Route>
                    <File name="${ctx:symbol}File" fileName="/dev/shm/${ctx:symbol}.log">
                        <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
                    </File>
                </Route>
                <Route key="${ctx:symbol}" ref="Everything"/>
            </Routes>
        </Routing>
    </Appenders>
    <Loggers>
        <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
            <AppenderRef ref="CA1" />
        </Logger>
        <Logger name="spark" level="INFO" additivity="false">
            <AppenderRef ref="CA1" />
        </Logger>
        <Logger name="home.sparkjava.WebSocketListener" level="DEBUG" additivity="false">
            <AppenderRef ref="CA1" />
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="CA2"/>
            <AppenderRef ref="Robinhood"/>
        </Root>
    </Loggers>
</Configuration>