<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <File name="MyFile" fileName="/dev/shm/robinhood.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
        <Async name="Async"><AppenderRef ref="MyFile"/><LinkedTransferQueue/></Async>
        <File name="MyFileHTZ" fileName="/dev/shm/robinhoodHTZ.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable</Pattern>
            </PatternLayout>
        </File>
        <Async name="AsyncHTZ"><AppenderRef ref="MyFileHTZ"/><LinkedTransferQueue/></Async>
    </Appenders>
    <Loggers>
        <Logger name="home" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="Async" />
        </Logger>
        <Logger name="home.sparkJava.StockActor.HTZ" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="AsyncHTZ" />
        </Logger>
        <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>