<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </Console>
        <Routing name="StockActor">
            <Routes pattern="${ctx:symbol}">
                <Route>
                    <File name="${ctx:symbol}File" fileName="/dev/shm/${ctx:symbol}.log">
                        <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
                    </File>
                </Route>
                <Route key="${ctx:symbol}" ref="ConsoleAppender"/>
            </Routes>
        </Routing>
<!--
        <File name="StockActor" fileName="/dev/shm/robinhood.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n%throwable"/>
        </File>
-->
        <Async name="AsyncStockActor"><AppenderRef ref="StockActor"/></Async>
    </Appenders>
    <Loggers>
        <Logger name="home" level="DEBUG" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Logger name="home.akka.Log4jActor" level="DEBUG" additivity="false">
            <AppenderRef ref="StockActor"/>
        </Logger>
        <Logger name="home.sparkjava.StockActor" level="DEBUG" additivity="false">
            <AppenderRef ref="StockActor"/>
        </Logger>
        <Logger name="org.eclipse.jetty" level="INFO" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>
        <Root level="DEBUG">
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>