<div class="configuration" style="display: table;"></div>
<ol>
  <li class="stock-panel" *ngFor="let symbol of symbols; trackBy: trackByFunction"
      [_symbol]="symbol" [hidden]="!havingShares(symbol)"></li>
</ol>
<ol>
  <li class="stock-panel" *ngFor="let symbol of symbols; trackBy: trackByFunction"
      [_symbol]="symbol" [hidden]="havingShares(symbol)"></li>
</ol>

<div class="notice-container">
  <div class="notice"
       *ngFor="let n of notices; trackBy: trackByNoticeFunction"
       [ngClass]="calculateNoticeClass(n.level)"
       [uuid]="n.uuid" [message]="n.message" [level]="n.level"></div>
</div>
