div.configuration {
  z-index: 9; position: fixed; top: 0; left: 0;
}

ol:after { display: block; content: ' '; clear: both; }
ol { display: flex; flex-wrap: wrap; list-style: none; }
ol > li.stock-panel {
  border: 1px solid #ccc; border-radius: .3em; padding: .5em 1em; margin: 1em; box-shadow: .2em .2em .5em #aaa;
  background-color: #fff;
}
