div.configuration {
  z-index: 9; position: fixed; top: 0; left: 0;
}

ol:after { display: block; content: ' '; clear: both; }
ol { display: flex; flex-wrap: wrap; list-style: none; }
ol > li.stock-panel {
  border: 1px solid #ccc; border-radius: .3em; padding: .5em 1em; margin: 1em; box-shadow: .2em .2em .5em #aaa;
  background-color: #fff;
}

div.notice-container { z-index: 99; position: fixed; top: 0; right: .5em; text-align: right; }
div.notice {
  margin-top: .8em; border-radius: .25em; border: 1px solid; padding: .4em; box-shadow: -.4em .4em .4em #ccc;
}
div.notice.primary {
  border-color: #b8daff; background: linear-gradient(#cce5ff, #e2f0ff, #cce5ff); color: #004085;
}
div.notice.danger {
  border-color: #f5c6cb; background: linear-gradient(#f8d7da, #fcf2f3, #f8d7da); color: #721c24;
}
div.notice.light {
  border-color: #fdfdfe; background: linear-gradient(#fefefe, #fff, #fefefe); color: #818182;
}
