<div style="display: table-row;">
  <div class="c" [ngStyle]="{'display': open ? 'table-cell' : 'none'}">
          <form>
            <input style="width: 27em;" class="form-control" placeholder="Message" name="message" [(ngModel)]="message">
            &nbsp;
            <button class="btn btn-primary" (click)="sendMessageToBrowser()">Send to Browser</button>
            &nbsp;
            <button class="btn btn-primary" (click)="sendMessageToServer()">Send to Server</button>
            <br/><br/>
            <input style="width: 5em;" class="form-control" placeholder="Symbol" name="symbol" [(ngModel)]="symbol">
            &nbsp;
            <button class="btn btn-primary" (click)="getFundamental()">Fundamental</button>
            &nbsp;
            <button class="btn btn-primary" (click)="serverDebug()">Debug</button>
          </form>
          <table *ngIf="compound != null">
            <tr>
              <td>
                <span class="button" (click)="removeFundamentalReviewSymbol()" title="Close this fundamental review">&#10006;</span>
                {{ compound.symbol }}
              </td>
              <td><span class="label">Low:</span> {{compound.fundamental.low}}</td>
              <td><span class="label">High:</span> {{compound.fundamental.high}}</td>
            </tr>
            <tr>
              <td>Dividend: {{compound.fundamental.dividend_yield}}</td>
              <td><span class="label">52 weeks Low:</span> {{compound.fundamental.low_52_weeks}}</td>
              <td><span class="label">52 weeks High:</span> {{compound.fundamental.high_52_weeks}}</td>
            </tr>
            <tr><td colspan="3" style="color: #666;">{{compound.fundamental.description}}</td></tr>
          </table>
  </div>
  <div [ngStyle]="{'display': (compound != null && compound.quotes != null) ? 'table-cell' : 'none'}">
    <div class="highcharts"></div>
  </div>
  <div class="handle" (click)="clickConfiguration()">
    C<br/>o<br/>n<br/>f<br/>i<br/>g<br/>u<br/>r<br/>a<br/>t<br/>i<br/>o<br/>n
  </div>
</div>
