div.table { display: table; }
div.row { display: table-row; }
div.cell { display: table-cell; }
div.cell:not(last-child) { padding-right: .5em; }
div.small { font-size: small; }
div.code { font-family: monospace; font-size: large; }
div.row.buy { color: hsl(0, 50%, 40%); }
div.row.sell { color: hsl(240, 50%, 40%); }
div.row.buy.confirmed { font-style: italic; color: hsl(0, 50%, 60%); }
div.row.sell.confirmed { font-style: italic; color: hsl(240, 50%, 60%); }
div.row.buy.matched { color: hsl(0, 50%, 82%); }
div.row.sell.matched { color: hsl(240, 50%, 82%); }
div.cell > span.cancel { color: red; cursor: pointer; font-size: large; }
