.button { color: #f00; cursor: pointer; }
div.small { font-size: .9em; }
div.smaller { font-size: .8em; }
div.x-small { font-size: .7em; }
.mono { font-family: monospace; }
div.visible { visibility: visible;}
div.hidden { visibility: hidden; }
td.none { display: none; }
.pointer { cursor: pointer; }
div.dow { border-bottom: 2px solid #ccc; }

tr.buy { color: hsl(0, 50%, 40%); }
tr.sell { color: hsl(240, 50%, 40%); }
tr.buy.confirmed { font-style: italic; color: hsl(0, 50%, 60%); }
tr.sell.confirmed { font-style: italic; color: hsl(240, 50%, 60%); }
tr.buy.matched { color: hsl(0, 50%, 82%); }
tr.sell.matched { color: hsl(240, 50%, 82%); }
tr.matched.hide { display: none; }

div.name { position: absolute; top: 0; left: .5em; bottom: 0; right: .5em; font-size: 2em; color: rgba(82,82,82,.19) }
